#container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
  align-items: flex-start;
}
.item {
  margin: 10px;
  border: #687291 1px solid;
  border-left: dotted 10px #d0d0ff;
  background: #eeeff2;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  width: 100px;
  height: 150px;
}
.item:hover {
  cursor: pointer;
  background: yellow;
  font-family: "Courier New", Courier, monospace;
}
.item:last-child {
  align-self: flex-end;
  justify-self: flex-end;
  margin-left: 100vh;
}
